<ion-header>
  <ion-toolbar class="bg">
    <ion-row>
      <ion-col>
        <img class="profileIcon" src="/assets/imgs/drawable-xxxhdpi/profile.png">
      </ion-col>
      <ion-col>
        <ion-title class="titleStyle">Route Map</ion-title>
      </ion-col>
    </ion-row>
 

  <ion-buttons slot="end">
    <ion-button>
     <ion-icon class="menuColor" name="notifications"></ion-icon>
    </ion-button>
   </ion-buttons>

  <ion-buttons slot="end">
    <ion-menu-button class="menuColor" menu="main-menu"></ion-menu-button>
  </ion-buttons>

 
    
  </ion-toolbar>

  
</ion-header>
<ion-content [fullscreen]="true">
  <button *ngIf="menuIcon" (click)="openingMenu()" class="menuIconStyle">
    <img  src="/assets/imgs/drawable-xxxhdpi/menu-icon.png">
  </button>

<div *ngIf="menu" class="centerDiv">

  <button *ngIf="startRouteBtn" clickColor class="btnRow custom-fontRow"  (click)="startRoute()" > START ROUTE </button>
  <button *ngIf="endRouteBtn" clickColor class="btnRow custom-fontRow"  (click)="endRoute()" > END ROUTE </button>

  <button  class="btnRow custom-fontRow"  (click)="goToPassengers()" >  PASSENGERS </button>

<button  class="btnRow custom-fontRow"  (click)="tickets()" > TICKETS </button>
<button  class="btnRow custom-fontRow"  (click)="wallet()" > WALLET </button>
</div>


<div *ngIf="menu" class="myCenterBG">
  
  
  <div class="menuIconBG">
  
    <button (click)="openingMenu()" class="menuThree">
      <img  src="/assets/imgs/drawable-xxxhdpi/menu-three.png">
    </button>
  </div>
</div>
  <div #map id="map"></div>

</ion-content>
