.bg{
    --background:var(--ion-color-button-color-light);
}
#map{
    height: 100%;
}
ion-content{
    --ion-background-color:var(--ion-color-background-lightblue);
}
.menuColor{
    color:white;
}
.titleStyle{
    font-family: MonteBold;
    font-size: 18px;
    position: absolute;
    color: white;
    left:-20px;
    top: 45px;
}

.routeIcon{
    width:90%;
   
}
.profileIcon{
    width:50%;
    margin-left:10%;
    margin-top:15%;
}
.btnAccept{
    width:100%;
    height:40px;
    margin-top:5%;
    border-radius: 7px;
    background-color:var(--ion-color-button-color-light);
    border:none;
}

.customFont{
    font-family: MonteBold;
    color: white;
    font-size:11px;
    text-align: center;
}

.availableStyle{
    opacity:0.3;
    font-family:MonteLight;
}
.availableRouteStyle{
    font-family:MonteBold;
}
.minutesRouteStyle{
    opacity:0.3;
    font-family:MonteLight;
    font-size:12px;
}
.line{
    margin-top:10%;
    width: 100%;
    height: 47px;
    border-bottom: 1px solid var(--ion-color-button-color-dark);
    position: absolute;
    opacity:0.3;
    }

    .custom-font{
        font-family: MonteBold;
        color:var(--ion-color-button-color-light);
        font-size:14px;
    }
    .btn{
        width:80%;
        height:60px;
        margin-top:5%;
        border-radius: 20px;
        box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
        background-color:white;
    }
    .menuIconStyle{
        width: 25%;
        height: 60px;
        margin-top: 5%;
        margin-left: 5%;
        background-color: transparent;
        position: absolute;
        bottom: 20px;
        z-index: 999;
    }

    .custom-fontRow{
        font-family: MonteBold;
        color:white;
        font-size:14px;
    }
    .btnRow{
        width:100%;
        height:60px;
        margin-top:5%;
        border-radius: 20px;
        box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
        background-color:var(--ion-color-button-color-dark);
    }
    .menuIconBG{
        width:90%;
        height:370px;
        background-color:var(--ion-color-button-color-dark);
        border-radius: 13px;
        position:absolute;
        bottom:10px;
        z-index: 900;
    }
    .myCenterBG{
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .menuThree{
        width: 15%;
        height: 60px;
        margin-top: 5%;
        margin-left: 5%;
        background-color: transparent;
        position: absolute;
        bottom: 10px;
        z-index: 999;
    }
    .custom-fontRow{
        font-family: MonteBold;
        color: var(--ion-color-button-color-dark);
        font-size:14px;
    }
    .btnRow{
        width: 80%;
        height: 52px;
        margin-top: 4%;
        border-radius: 20px;
        box-shadow: 10px 6px 3px rgb(57 71 82 / 12%);
        background-color: white;
      
    }
    .centerDiv{
        position: absolute;
        bottom: 95px;
        z-index: 999;
        margin-left: 15%;
    }
    