.bg{
    --background:var(--ion-color-button-color-light);
}

ion-content{
    --ion-background-color:var(--ion-color-background-lightblue);
}
.menuColor{
    color:white;
}
.titleStyle{
    font-family: MonteBold;
    font-size: 18px;
    position: absolute;
    color: white;
    left:-59px;
    top: 45px;
}

.routeIcon{
    width:90%;
   
}
.profileIcon{
    width:50%;
    margin-left:10%;
    margin-top:15%;
}
.custom-fontRow{
    font-family: MonteBold;
   color:white;
    font-size:14px;
}
.btnRow{
    width: 100%;
    height: 52px;
    margin-top: 4%;
    border-radius: 20px;
    box-shadow: 10px 6px 3px rgb(57 71 82 / 12%);
    background-color: var(--ion-color-button-color-dark);
}

.txt{
    font-size:16px;
    font-family:MonteLight;
    margin-left:5%;
}
ion-label{
    text-align: center;
    font-size: 18px;
    font-family: 'MonteMedium';
    color: darkslateblue;
}
.txStyling{
    font-size: 20px;
    font-family: 'MonteMedium';
}
.iconStyle{
    color:var(--ion-color-button-color-dark);
}