<ion-header>
  <ion-toolbar class="bg">
    <ion-row>
      <ion-col>
        <img class="profileIcon" src="/assets/imgs/drawable-xxxhdpi/profile.png">
      </ion-col>
      <ion-col>
        <ion-title class="titleStyle">Route Passengers</ion-title>
      </ion-col>
    </ion-row>
 

  <ion-buttons slot="end">
    <ion-button>
     <ion-icon class="menuColor" name="notifications"></ion-icon>
    </ion-button>
   </ion-buttons>

  <ion-buttons slot="end">
    <ion-menu-button class="menuColor" menu="main-menu"></ion-menu-button>
  </ion-buttons>

 
    
  </ion-toolbar>

  <ion-content [fullscreen]="true">
   
    <div *ngFor="let item of passengers; let i = index;" class="ion-padding">
      <ion-list>
      <button clickColor class="btnRow custom-fontRow"  (click)="showPassengers(i)" > {{item.first_name}} {{item.last_name}} </button>
      <div  *ngIf="showPassengerDetails[i]" class="ion-padding txt">
        

        <ion-card>
          <ion-card-header>
            <ion-item>
              <ion-icon class="iconStyle"  name="person-circle" slot="start"></ion-icon>
              <ion-label class="txStyling">{{item.first_name}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon class="iconStyle"  name="person-circle" slot="start"></ion-icon>
              <ion-label class="txStyling">{{item.last_name}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon class="iconStyle"  name="call" slot="start"></ion-icon>
              <ion-label class="txStyling">{{item.mobile}}</ion-label>
            </ion-item>
          </ion-card-header>
        </ion-card>
         
      </div>
    </ion-list>
    

    </div>

  </ion-content>