.bg{
    --background:var(--ion-color-button-color-light);
}
ion-content{
    --ion-background-color:var(--ion-color-background-lightblue);
}
.menuColor{
    color:white;
}
.titleStyle{
    font-family:MonteBold;
    font-size:18px;
    position:absolute;
    color:white;
    margin-top:27%;
    margin-right:20%;
}
.routeIcon{
    width:90%;
   
}
.profileIcon{
    width:50%;
    margin-left:10%;
    margin-top:15%;
}
.displaynone{
    display:none;
    color:red;
}

.commentArea{
    width: 100%;
    height: 200px;
    justify-content: center;
    display: flex;
    background-color: white;
    border: 2px solid var(--ion-color-button-color-light);;
    border-radius: 19px;
    font-size:17px;
    font-family:MonteMedium;
    padding:12px 12px 12px 12px;
}

.custom-font{
    font-family: MonteBold;
    color:white;
    font-size:14px;
}

.loginBtn{
    margin-top:6%;
    width:100%;
    height:60px;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color:var(--ion-color-button-color-light);
}