
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering-title">Get Started with BTD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="row" style="margin-top:15%;">
    <div class="col">
        <div class="text-center">

          <div class="centering">
            <ion-text class="welcomeTxt"> Thank you for downloading <br>and using <br> Bus Transports Driver App </ion-text>
          </div>
          <div class="imageCentering">
            <img class="logoImg" src="assets/imgs/drawable-xxxhdpi/logo.png"/>
          
          </div>
          
          <div class="ion-padding">
            <button  class="btn custom-font"  (click)="register()" > REGISTER </button>
            <button  class="btn custom-font"  (click)="retrieveAccount()" >RETRIEVE ACCOUNT</button>
            <button  class="btn custom-font"  (click)="retrievePassword()">RETRIEVE PASSWORD</button>
            <button  class="btn custom-font"  (click)="login()">LOGIN</button>
        
           
          </div>
        </div>
    </div>
</div>



</ion-content>
