<ion-header>
  <ion-toolbar class="bg">
    <ion-row>
      <ion-col>
        <img class="profileIcon" src="/assets/imgs/drawable-xxxhdpi/profile.png">
      </ion-col>
      <ion-col>
        <ion-title class="titleStyle">Wallet</ion-title>
      </ion-col>
    </ion-row>
 

  <ion-buttons slot="end">
    <ion-button>
     <ion-icon class="menuColor" name="notifications"></ion-icon>
    </ion-button>
   </ion-buttons>

  <ion-buttons slot="end">
    <ion-menu-button class="menuColor" menu="main-menu"></ion-menu-button>
  </ion-buttons>

 
    
  </ion-toolbar>
  </ion-header>
  
<ion-content>
    <div  *ngIf="hideElement" class="ion-padding">
      <ion-text class="centering custom-font"> BUS MONEY AMMOUNT </ion-text>
    </div>

    <div *ngIf="hideElement" class="ion-padding">
      <div class="backgroundWallet">
        <ion-text class="backgroundWalletTxt">125,32€ </ion-text>
      </div>
    </div>

    <div *ngIf="hideElement" class="ion-padding">
      <button class="btnCost" (click)="ticket()">TICKET</button>
      <button class="btnCost" (click)="transaction()">TRANSACTION</button>
    </div>

    <div class="ion-padding">
      <ion-list *ngIf="showTransaction">
        <ion-item lines="none" (click)="updateOrDelete(tech)"  *ngFor="let tech of showAllTrans;" >
    
          <ion-card>
            <ion-card-title>Date: {{tech.fromd.split('T')[0]}}</ion-card-title>
            <ion-card-subtitle>Title: {{tech.tran_type}}</ion-card-subtitle>
         
    
          <ion-item lines="none">
            <ion-icon class="iconStyle"  name="cash" slot="start"></ion-icon>
            <ion-label>{{tech.debit}} €</ion-label>
          </ion-item>
          <ion-item lines="none">
           <button (click)="up()" class="UpdateBtn custom-font-du">UPDATE</button>
           <button (click)="del()"class="deleteBtn custom-font-du">DELETE</button>
          </ion-item>
        </ion-card>
        </ion-item>
     
      </ion-list>
    </div>

    <div *ngIf="selectTransaction" class="ion-padding" >
      <ion-label>Select Transaction</ion-label>
      <ion-select placeholder="COST" okText="Okay" cancelText="Dismiss" (ionChange)="ionChangeCost()" [(ngModel)]="select">
        <ion-select-option>COST</ion-select-option>
        <ion-select-option>INCOME</ion-select-option>
      </ion-select>
    </div>

    <div *ngIf="transactionCOSTupdate" class="ion-padding">
      <ion-list lines="none">
        <ion-item >
        <ion-label>Select Type of Payment</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" (ionChange)="selectCostUpdate()" [(ngModel)]="selectTypeOfCostUpdate"  >
          <ion-select-option  *ngFor="let item of costUpdate" >
            {{item.tran_type_descr_eng}}
            <a style="display:none;">{{item.tran_type_id}}</a>
          </ion-select-option>
        </ion-select>
      </ion-item>
     </ion-list>
    </div>

    <div *ngIf="transactionCOSTupdate">
      <div class="ion-padding">
     <input  class="btn custom-font" placeholder="Please Enter Ammount" [(ngModel)]="moneyPaidUpdate">
     <button class="btnLogin customFontLogin" (click)="getPaidUpdate()">Get Paid</button>
      </div>
    </div>
    <div *ngIf="transactionINCOMEupdate" class="ion-padding">
      <div class="ion-padding">
      
          <ion-text class="custPay">{{incomeUpdate}}</ion-text>

        <input  class="btn custom-font" placeholder="Please Enter Ammount" [(ngModel)]="moneyPaidUpdateIncome">
        <button class="btnLogin customFontLogin" (click)="getPaidIncome()">Update Payment</button>
         </div>
    </div>
    <div *ngIf="transactionCOST" class="ion-padding">
      <ion-list lines="none">
        <ion-item >
        <ion-label>Select Type of Payment</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" (ionChange)="selectCost()" [(ngModel)]="selectTypeOfCost"  >
          <ion-select-option  *ngFor="let item of cost" >
            {{item.tran_type_descr_eng}}
          </ion-select-option>
        </ion-select>
      </ion-item>
     </ion-list>
    </div>
    <div *ngIf="transactionINCOME">
      <div class="ion-padding">
     <input  class="btn custom-font" placeholder="Please Enter Ammount" [(ngModel)]="moneyPaid">
     <button class="btnLogin customFontLogin" (click)="getPaid()">Get Paid</button>
      </div>
    </div>
</ion-content>
