.bg{
    --background:var(--ion-color-button-color-light);
}
ion-content{
    --ion-background-color:var(--ion-color-background-lightblue);
}
.menuColor{
    color:white;
}
.titleStyle{
    font-family: MonteBold;
    font-size: 18px;
    position: absolute;
    color: white;
    left:-20px;
    top: 45px;
}

.routeIcon{
    width:90%;
   
}
.profileIcon{
    width:50%;
    margin-left:10%;
    margin-top:15%;
}

.centering{
    width:100%;
    display:flex;
    justify-content: center;
}
.custom-font{
    font-family:MonteBold;
    color:var(--ion-color-button-color-light); 
    font-size:18px;
}
.backgroundWallet{
    background-color:var(--ion-color-button-color-dark);
    width:100%;
    height:200px;
    border-radius: 13px;
}
.backgroundWalletTxt{
    color:white;
    font-family: MonteBold;
    font-size:50px;
    width:100%;
    display:flex;
    justify-content: center;
    position: relative;
    top: 62px;
}

.btnCost{
    margin-top:10%;
    width:100%;
    font-family:MonteBold;
    font-size:13px;
    height:55px;
    background-color:var(--ion-color-button-color-dark);
    color:white;
    border-radius:13px;
}

.custom-font{
    font-family: MonteBold;
   
    font-size:14px;
    text-align: center;
}
.btn{
    width:100%;
    height:60px;
    margin-top:5%;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color:white;
    border:none;
}
.customFontLogin{
    font-family: MonteBold;
    font-size:14px;
    text-align: center;
    color:white;
}
.btnLogin{
    width:100%;
    height:60px;
    margin-top:5%;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color: var(--ion-color-button-color-dark);
    border:none;

}
ion-card{
    width: 100%;
    height: 160px;
    border-radius: 7px;
}
ion-card-title{
    text-align: center;
}
ion-card-subtitle{
    text-align: center;
}

.custom-font-du{
    font-family: MonteMedium;
    color:white;
    font-size:12px;
}

.UpdateBtn{
    width:50%;
    height:33px;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color:#FF5A53;
    text-align: center;
}
.deleteBtn{
    width: 50%;
    height: 33px;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgb(57 71 82 / 12%);
    background-color: #FCE205;
    text-align: center;
}
.custPay{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'MonteMedium';
    margin-bottom: 10%;
    font-size: 18px;
}