
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering-title">Register to BTD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="row" style="margin-top:15%;">
    <div class="col">
        <div class="text-center">

        
          <div class="imageCentering">
            <img class="logoImg" src="assets/imgs/drawable-xxxhdpi/logo.png"/>
          
          </div>
          <div class="centering">
            <ion-text class="welcomeTxt"> Thank you for downloading <br>and using <br> Bus Transports Driver App </ion-text>
          </div>
          <div class="ion-padding">
            <input  [(ngModel)]="first_name" class="btn custom-font" placeholder="First Name"  > 
            <input  [(ngModel)]="last_name" class="btn custom-font" placeholder="Last Name"  >
            <input  [(ngModel)]="email" class="btn custom-font" placeholder="Email"  > 
            <input  [(ngModel)]="birthday" class="btn custom-font" placeholder="Date of Birth"  >
            <input  [(ngModel)]="mobile" class="btn custom-font" placeholder="Mobile"  > 
            <input  [(ngModel)]="password" class="btn custom-font" placeholder="Password"  > 
            <input  [(ngModel)]="country" class="btn custom-font" placeholder="Country"  >
            <input  [(ngModel)]="location" class="btn custom-font" placeholder="City"  > 
            <input  [(ngModel)]="address" class="btn custom-font" placeholder="Address"  >
            <input  [(ngModel)]="zip" class="btn custom-font" placeholder="Zip Code"  > 
            <input  [(ngModel)]="license_number" class="btn custom-font" placeholder="Licence ID"  >

            <button class="btnLogin customFontLogin" (click)="register()">Register Now</button>
          </div>
        </div>
    </div>
</div>



</ion-content>
