
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering-title">Get Started with BTD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="row" style="margin-top:15%;">
    <div class="col">
        <div class="text-center">

        
          <div class="imageCentering">
            <img class="logoImg" src="assets/imgs/drawable-xxxhdpi/logo.png"/>
          
          </div>
          <div class="centering">
            <ion-text class="welcomeTxt"> Thank you for downloading <br>and using <br> Bus Transports Driver App </ion-text>
          </div>
          <div class="ion-padding">
            <input type="text" [(ngModel)]="mobile" class="btn custom-font" placeholder="Mobile"  > 
            <input type="password" [(ngModel)]="password" class="btn custom-font" placeholder="Password"  >

            <button class="btnLogin customFontLogin" (click)="sendPostRequest()">LOGIN</button>
          </div>
        </div>
    </div>
</div>



</ion-content>
