ion-content{
    --ion-background-color:var(--ion-color-background-lightblue);
}
.new-background-color{
    --background: var(--ion-color-background-lightblue); 
  }
  .centering-title{
    width:100%;
    display:flex;
    justify-content: cen3ter;
    text-align: center;
    color: var(--ion-color-button-color-dark);
  }
.imageCentering{
   
}
.logoImg{
    width:60%;
    margin-top:10%;
    margin-left:15%;
    text-align: center;
}
.customFontLogin{
    font-family: MonteBold;
    font-size:14px;
    text-align: center;
    color:white;
}
.btnLogin{
    width:100%;
    height:60px;
    margin-top:5%;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color: var(--ion-color-button-color-dark);
    border:none;

}
.centering{
    display:flex;
    margin-top:5%;
    margin-bottom:5%;
    width:100%;
    justify-content: center;
    color: var(--ion-color-button-color-dark);
    font-family: MonteBold;
    font-size:19px;
    text-align: center;
}
.custom-font{
    font-family: MonteBold;
    color: var(--ion-color-button-color-dark);
    font-size:14px;
    text-align: center;
}
.btn{
    width:100%;
    height:60px;
    margin-top:5%;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color:white;
    border:none;
}
.loginBtn{
    margin-top:6%;
    width:100%;
    height:60px;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color:var(--ion-color-button-color-light);
}