.bg{
    --background:var(--ion-color-button-color-light);
}
ion-content{
    --ion-background-color:var(--ion-color-background-lightblue);
}
.menuColor{
    color:white;
}
.titleStyle{
    font-family: MonteBold;
    font-size: 18px;
    position: absolute;
    color: white;
    left: -49px;
    top: 39px;
}
.titleStyle1{
    font-family: MonteLight;
    font-size: 18px;
    position: absolute;
    color: white;
    left: -59px;
    top: 39px;
}
.routeIcon{
    width:90%;
   
}
.profileIcon{
    width:50%;
    margin-left:10%;
    margin-top:15%;
}
.btnAccept{
    width:100%;
    height:40px;
    margin-top:5%;
    border-radius: 7px;
    background-color:var(--ion-color-button-color-light);
    border:none;
}

.customFont{
    font-family: MonteBold;
    color: white;
    font-size:11px;
    text-align: center;
}

.availableStyle{
    opacity:0.3;
    font-family:MonteLight;
}
.availableRouteStyle{
    font-family:MonteBold;
}
.minutesRouteStyle{
    opacity:0.3;
    font-family:MonteLight;
    font-size:12px;
}
.line{
    margin-top:10%;
    width: 100%;
    height: 47px;
    border-bottom: 1px solid var(--ion-color-button-color-dark);
    position: absolute;
    opacity:0.3;
    }

    .custom-font{
        font-family: MonteBold;
        color:var(--ion-color-button-color-light);
        font-size:14px;
    }
    .btn{
        width:80%;
        height:60px;
        margin-top:5%;
        border-radius: 20px;
        box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
        background-color:white;
    }
    .mapsAndFlags{
        width: 15%;
        height: 60px;
        margin-top: 5%;
        margin-left: 5%;
    }

    .custom-fontRow{
        font-family: MonteBold;
        color:white;
        font-size:14px;
    }
    .btnRow{
        width:100%;
        height:60px;
        margin-top:5%;
        border-radius: 20px;
        box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
        background-color:var(--ion-color-button-color-dark);
    }