<ion-header>
  <ion-toolbar class="bg">
    <ion-row>
      <ion-col>
        <img class="profileIcon" src="/assets/imgs/drawable-xxxhdpi/profile.png">
      </ion-col>
      <ion-col>
        <ion-title class="titleStyle">Start Route</ion-title>
      </ion-col>
    </ion-row>
 

  <ion-buttons slot="end">
    <ion-button>
     <ion-icon class="menuColor" name="notifications"></ion-icon>
    </ion-button>
   </ion-buttons>

  <ion-buttons slot="end">
    <ion-menu-button class="menuColor" menu="main-menu"></ion-menu-button>
  </ion-buttons>

 
    
  </ion-toolbar>

  
</ion-header>


<ion-content>
 <div class="ion-padding">
  
   <ion-row>
      <button  class="btn custom-font" > {{customArrival}} </button>
      <img class="mapsAndFlags" src="/assets/imgs/drawable-xxxhdpi/maps-and-flags.png">
   </ion-row>
   <ion-row>
    <img class="mapsAndFlags" src="/assets/imgs/drawable-xxxhdpi/chronometer.png">
    <button  class="btn custom-font"   > 52 minutes </button>
   </ion-row>
   <ion-row>
    <button  class="btn custom-font"   > 80 passengers </button>
    <img class="mapsAndFlags" src="/assets/imgs/drawable-xxxhdpi/passenger.png">
   </ion-row>

   <div style="margin-top:10%;">
    <button  class="btnRow custom-fontRow"  (click)="startRoute()" > START ROUTE </button>
   <button  class="btnRow custom-fontRow"  (click)="routePassengers()" >  PASSENGERS </button>
   <button  class="btnRow custom-fontRow"  (click)="map()" > MAP </button>
   <button  class="btnRow custom-fontRow"  (click)="wallet()" > WALLET </button>
   </div>
 </div>
</ion-content>
