
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering-title">Register to BTD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="row" style="margin-top:15%;">
    <div class="col">
        <div class="text-center">

        
          <div class="imageCentering">
            <img class="logoImg" src="assets/imgs/drawable-xxxhdpi/logo.png"/>
          
          </div>
          <div class="centering">
            <ion-text class="welcomeTxt"> Thank you for downloading <br>and using <br> Bus Transports Driver App </ion-text>
          </div>
          <div class="ion-padding">
            <input  class="btn custom-font" placeholder="First Name"  > 
            <input  class="btn custom-font" placeholder="Last Name"  >
            <input  class="btn custom-font" placeholder="Email"  > 
            <input  class="btn custom-font" placeholder="Date of Birth"  >
            <input  class="btn custom-font" placeholder="Password "  >

     
            <button class="btnLogin customFontLogin" (click)="retrieve()">SEARCH ACCOUNT</button>
          </div>
        </div>
    </div>
</div>



</ion-content>
