<ion-header>
  <ion-toolbar class="bg">
    <ion-row>
      <ion-col>
        <img class="profileIcon" src="/assets/imgs/drawable-xxxhdpi/profile.png">
      </ion-col>
      <ion-col>
        <ion-title class="titleStyle">Tickets</ion-title>
      </ion-col>
    </ion-row>
 

  <ion-buttons slot="end">
    <ion-button>
     <ion-icon class="menuColor" name="notifications"></ion-icon>
    </ion-button>
   </ion-buttons>

  <ion-buttons slot="end">
    <ion-menu-button class="menuColor" menu="main-menu"></ion-menu-button>
  </ion-buttons>

 
    
  </ion-toolbar>
  </ion-header>
  
<ion-content *ngIf="ticketsPage" [fullscreen]="true">

  <div class="ion-padding">
    <ion-row class="centering">
      <ion-text class="txtStation">Departure Station</ion-text>
    </ion-row>
    <ion-row class="centering">
      <button class="btnArrival custom-font"> Athens</button>
    </ion-row>
    <ion-row class="centering">
      <ion-text class="txtStation">Arrival Station</ion-text>
    </ion-row>
    <!--  -->
    <ion-row *ngIf="arrivalStatus" class="centering">
      
      <button class="btnArrival custom-font"> {{departure}} <ion-buttons (click)="showSearch()" class="positioning" slot="primary">
        <ion-button  color="secondary">
          <ion-icon slot="end" ios="search" md="search"></ion-icon>
        </ion-button>
      </ion-buttons></button>
    </ion-row>
    
  </div>
  <div class="ion-padding">
    <ion-row *ngIf="searchBar">
      <ion-searchbar #search debounce="500" (ionChange)="searchEvent($event)"></ion-searchbar>
     </ion-row>
  <ion-list *ngIf="isSearchedArrival">
   <ion-item (click)="getDepartures(item)"  *ngFor="let item of searchedItem">
     <ion-label>{{item.title}}</ion-label>
   </ion-item>
  </ion-list>
  </div>

  <div class="ion-padding">
    <ion-row class="centering">
      <button class="btnArrival custom-font"> CASH</button>
    </ion-row>
    <ion-row class="centering">
      <button class="btnArrival custom-font"> POS</button>
    </ion-row>
  </div>

  <div class="ion-padding">
    <ion-row *ngIf="passengerDetailsPlus" class="centering stylingTxt"> Passenger  Details
       <button (click)="showPassengerDetails()" class="addBtn"> <ion-icon class="stylingTxt" slot="icon-only" ios="add" md="add"></ion-icon></button>
      </ion-row>
      <ion-row *ngIf="passengerDetailsRemove" class="centering stylingTxt"> Passenger Details 
        <button (click)="showPassengerDetails()" class="addBtn"> <ion-icon class="stylingTxt" slot="icon-only" ios="remove" md="remove"></ion-icon></button>
       </ion-row>

       <div *ngIf="passengerDetails" class="ion-padding">
        <input  class="btn custom-font" placeholder="First Name"  > 
        <input  class="btn custom-font" placeholder="Last Name"  >
        <input  class="btn custom-font" placeholder="Email"  > 
      </div>

       <ion-row *ngIf="extraoptionsPlus" class="centering stylingTxt"> Extra Options  
        <button (click)="showExtraOptions()" class="addBtn"> <ion-icon class="stylingTxt" slot="icon-only" ios="add" md="add"></ion-icon></button>
       </ion-row>
       <ion-row *ngIf="extraoptionsRemove" class="centering stylingTxt"> Extra Options  
         <button (click)="showExtraOptions()" class="addBtn"> <ion-icon class="stylingTxt" slot="icon-only" ios="remove" md="remove"></ion-icon></button>
        </ion-row>

      <div *ngIf="extraoptions" class="ion-padding">
         <ion-item lines="none">
          <ion-label>Luggage</ion-label>
          <ion-toggle slot="end" name="blueberry" ></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Seat</ion-label>
          <ion-toggle slot="end" name="blueberry" checked></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Dump</ion-label>
          <ion-toggle slot="end" name="blueberry" ></ion-toggle>
        </ion-item>
      </div>

      
  </div>

 <div class="ion-padding">
  <ion-row class="centering">
    <button class="btnContinue custom-fontContinue" (click)="continue()">CONTINUE</button>
  </ion-row>
 </div>
 
</ion-content>


<ion-content *ngIf="nextTicketsPage" [fullscreen]="true">
  <div class="ion-padding">
    <ion-row class="centering">
      <button class="btnContinue custom-fontContinue" (click)="continueNext()">UPDATE SEAT</button>
    </ion-row>
   </div>
</ion-content>

<ion-content *ngIf="continueNextPage" [fullscreen]="true">

  <div class="ion-padding">
    <div class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-text class="upperClassText">13 April 2021</ion-text>
        </ion-col>
        <ion-row>
          <ion-text class="tickerNo">N 4028384</ion-text>
        </ion-row>
      </ion-row>
    </div>

    <div class="ion-padding">
      <div class="ion-padding">
        <ion-row class="centering">
          <ion-col >
            <ion-text>9:20</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>ATHENS</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="centering">
          <ion-col>
            <ion-text>9:20</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>ATHENS</ion-text>
          </ion-col>
        </ion-row>
        <div class="line"></div>
        <ion-row>
          <ion-col><ion-text>Class</ion-text></ion-col>
          <ion-col><ion-text>Coach</ion-text></ion-col>
          <ion-col><ion-text>Row</ion-text></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-text>2</ion-text></ion-col>
          <ion-col><ion-text>B</ion-text></ion-col>
          <ion-col><ion-text>4</ion-text></ion-col>
        </ion-row>
        <div class="line"></div>
      </div>

      <div class="ion-padding">
        <ion-row>
          <ion-col>Total Price:</ion-col>
          <ion-col>24€</ion-col>
        </ion-row>
      </div>

      <div class="ion-padding">

      <ion-row>
        <ion-col>Paid with</ion-col>
        <ion-col><button>CARD</button></ion-col>
      </ion-row>

      <img class="qrcode" src="/assets/imgs/qrcode.png">
      </div>
    </div>
  </div>
  <div class="ion-padding">
    <ion-row class="centering">
      <button class="btnContinue custom-fontContinue" (click)="submit()">SUBMIT TICKET</button>
    </ion-row>
   </div>
</ion-content>