.bg{
    --background:var(--ion-color-button-color-light);
}
ion-content{
    --ion-background-color:var(--ion-color-background-lightblue);
}
.menuColor{
    color:white;
}
.titleStyle{
    font-family: MonteBold;
    font-size: 18px;
    position: absolute;
    color: white;
    left:-20px;
    top: 45px;
}

.routeIcon{
    width:90%;
   
}
.profileIcon{
    width:50%;
    margin-left:10%;
    margin-top:15%;
}

.custom-font{
    font-family: MonteBold;
    color: var(--ion-color-button-color-dark);
    font-size:14px;
}
.btnArrival{
    width: 80%;
    height: 52px;
    margin-top: 4%;
    border-radius: 20px;
    box-shadow: 10px 6px 3px rgb(57 71 82 / 12%);
    background-color: white;
  
}
.txtStation{
    font-family: monteMedium;
    font-size:15px;
    color:var(--ion-color-button-color-dark);
}
.centering{
    margin-top:5%;
    margin-bottom:5%;
    display: flex;
    width: 100%;
    justify-content: center;
}
.positioning{
    position: absolute;
    bottom: 378px;
    color:var(--ion-color-button-color-dark);
}
.addBtn{
    background-color:transparent;
}
.stylingTxt{
    font-size:18px;
    font-family:MonteBold;
}
.custom-font{
    font-family: MonteBold;  
    font-size:14px;
    text-align: center;
}
.btn{
    width:100%;
    height:60px;
    margin-top:5%;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color:white;
    border:none;
}
.custom-fontContinue {
    font-family: MonteBold;
    font-size:14px;
    text-align: center;
    color:white;
}
.btnContinue{
    width:100%;
    height:60px;
    margin-top:5%;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color: var(--ion-color-button-color-dark);;
    border:none;
}
.upperClassText{
    font-family:MonteMedium;
    font-size:17px;
}
.tickerNo{
    font-family:MonteMedium;
    font-size:17px;
    opacity:0.4;
}
.line{
    width: 100%;
    height: 5px;
    border-bottom: 2px solid dodgerblue;
    position: absolute;
    opacity: 0.2;
    left: 1px;
}

.qrcode{
    width: 50%;
    justify-content: center;
    display: flex;
    margin-left: 25%;
    margin-top: 20%;
}