.bg{
    --background:var(--ion-color-button-color-light);
}
ion-content{
    --ion-background-color:var(--ion-color-background-lightblue);
}
.menuColor{
    color:white;
}
.titleStyle{
    font-family:MonteBold;
    font-size:18px;
    position:absolute;
    color:white;
    margin-top:27%;
    margin-right:20%;
}
.routeIcon{
    width:90%;
   
}
.profileIcon{
    width:50%;
    margin-left:10%;
    margin-top:15%;
}
.displaynone{
    display:none;
    color:red;
}

.commentArea{
    width: 100%;
    height: 200px;
    justify-content: center;
    display: flex;
    background-color: white;
    border: 2px solid var(--ion-color-button-color-light);;
    border-radius: 19px;
    font-size:17px;
    font-family:MonteMedium;
    padding:12px 12px 12px 12px;
}

.custom-font{
    font-family: MonteBold;
    color:white;
    font-size:14px;
}

.loginBtn{
    margin-top:6%;
    width:80%;
    height:60px;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color:#FCE205;
    text-align: center;
}
.loginBtnRed{
    margin-top:6%;
    width:80%;
    height:60px;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color:#B80F0A;
    text-align: center;
}
.centering{
    justify-content: center;
    display:flex;
}
.stylelabel{
    width:100%;
}
.rows{
    margin-top: 5%;
    margin-bottom: 5%;
}
.i{
    position: absolute;
    font-size: 15px;
    font-family: 'MonteMedium';
    top: -14px;
    color: var(--ion-color-button-color-dark);;
}
ion-card{
    width: 100%;
    height: 160px;
    border-radius: 7px;
}
ion-card-title{
    text-align: center;
}
ion-card-subtitle{
    text-align: center;
}

.custom-font-du{
    font-family: MonteMedium;
    color:white;
    font-size:12px;
}

.UpdateBtn{
    width:50%;
    height:33px;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgba(57,71,82,0.12);
    background-color:#FF5A53;
    text-align: center;
}
.deleteBtn{
    width: 50%;
    height: 33px;
    border-radius: 7px;
    box-shadow: 10px 6px 3px rgb(57 71 82 / 12%);
    background-color: #FCE205;
    text-align: center;
}