<ion-header>
  <ion-toolbar class="bg">
    <ion-row>
      <ion-col>
       <button (click)="goToProfile()" style="background-color:transparent;"> <img class="profileIcon" src="/assets/imgs/drawable-xxxhdpi/profile.png"></button>
      </ion-col>
      <ion-col>
        <ion-title class="titleStyle">Routes</ion-title>
      </ion-col>
    </ion-row>
 

  <ion-buttons slot="end">
    <ion-button>
     <ion-icon class="menuColor" name="notifications"></ion-icon>
    </ion-button>
   </ion-buttons>

  <ion-buttons slot="end">
    <ion-menu-button class="menuColor" menu="main-menu"></ion-menu-button>
  </ion-buttons>

 
    
  </ion-toolbar>

  
</ion-header>

<ion-content>

<div class="ion-padding">
  <ion-list *ngIf="selectItem">
    <ion-item lines="none" (click)="updateOrDelete(tech)"  *ngFor="let tech of getInspectData;" >
      <!-- <ion-label class="i">Number: {{i}}</ion-label> -->
      <!-- <ion-row class="rows">
      <ion-text  >Date Created: </ion-text>
      <ion-text>Inspect Text: {{tech.checkpoint_txt}}</ion-text>
      <ion-label>Comment: </ion-label>
      </ion-row> -->

      <ion-card>
        <ion-card-title>Date: {{tech.fromd.split('T')[0]}}</ion-card-title>
        <ion-card-subtitle>Title: {{tech.checkpoint_txt}}</ion-card-subtitle>
     

      <ion-item lines="none">
        <ion-icon class="iconStyle"  name="pricetags" slot="start"></ion-icon>
        <ion-label>{{tech.comment}}</ion-label>
      </ion-item>
      <ion-item lines="none">
       <button (click)="up()" class="UpdateBtn custom-font-du">UPDATE</button>
       <button (click)="del()"class="deleteBtn custom-font-du">DELETE</button>
      </ion-item>
    </ion-card>
    </ion-item>
 
  </ion-list>
</div>


<div *ngIf="deleteTechInspection" class="ion-padding">
  <ion-row> Date Created: {{astod}}</ion-row>
  <ion-row> Checkpoint Text: {{asctext}}</ion-row>
  <ion-row> Comment: {{asccomment}}</ion-row>
  <button  (click)="deleteInspect()" class="loginBtnRed custom-font">DELETE</button>
</div>


<div *ngIf="updateTechInspection" class="ion-padding">
  <ion-list lines="none">
    <ion-item >
    <ion-label>Select Inspect</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss"  [(ngModel)]="selectedTech"  >
      <ion-select-option  *ngFor="let tech of getInspectDataTech" >
        {{tech.checkpoint_eng}}
       <ion-text class="displaynone"> {{tech.checkpoint_id}}</ion-text>
      </ion-select-option>
    </ion-select>
  </ion-item>
 </ion-list>
</div>

<div *ngIf="updateTechInspection" class="ion-padding">
  <textarea [(ngModel)]="comment" class="commentArea" placeholder="place your text" >

  </textarea>
 
</div>
 <div *ngIf="updateTechInspection" class="ion-padding">
  <button (click)="update()" class="loginBtn custom-font ">UPDATE</button>

 </div>
</ion-content>