<ion-header>
  <ion-toolbar class="bg">
    <ion-row>
      <ion-col>
       <button (click)="goToProfile()" style="background-color:transparent;"> <img class="profileIcon" src="/assets/imgs/drawable-xxxhdpi/profile.png"></button>
      </ion-col>
      <ion-col>
        <ion-title class="titleStyle">Tech Inspect End</ion-title>
      </ion-col>
    </ion-row>
 

  <ion-buttons slot="end">
    <ion-button>
     <ion-icon class="menuColor" name="notifications"></ion-icon>
    </ion-button>
   </ion-buttons>

  <ion-buttons slot="end">
    <ion-menu-button class="menuColor" menu="main-menu"></ion-menu-button>
  </ion-buttons>

 
    
  </ion-toolbar>

  
</ion-header>

<ion-content>
  <a class="displaynone"> SKATA</a>

<div class="ion-padding">
  <ion-list lines="none">
    <ion-item >
    <ion-label>Select Inspect</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss"  [(ngModel)]="selectedTech"  >
      <ion-select-option  *ngFor="let tech of getInspectData" >
        {{tech.checkpoint_eng}}
       <ion-text class="displaynone"> {{tech.checkpoint_id}}</ion-text>
      </ion-select-option>
    </ion-select>
  </ion-item>
 </ion-list>
</div>

<div class="ion-padding">
  <textarea [(ngModel)]="comment" class="commentArea" placeholder="place your text" >

  </textarea>
 
</div>
 <div class="ion-padding">
  <button class="loginBtn custom-font" (click)="addTechInspect()">SEND</button>
 </div>
</ion-content>