/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

@font-face {
    font-family: MonteBlack;
    src: url(./assets/fonts/Montserrat-Black.ttf);
  }
  @font-face {
    font-family: MonteBold;
    src: url(./assets/fonts/Montserrat-Bold.ttf);
  }
  @font-face {
    font-family: MonteExtraBold;
    src: url(./assets/fonts/Montserrat-ExtraBold.ttf);
  }
  @font-face {
    font-family: MonteExtraLight;
    src: url(./assets/fonts/Montserrat-ExtraLight.ttf);
  }
  @font-face {
    font-family: MonteLight;
    src: url(./assets/fonts/Montserrat-Light.ttf);
  }
  @font-face {
    font-family: MonteMedium;
    src: url(./assets/fonts/Montserrat-Medium.ttf);
  }
  @font-face {
    font-family: MonteRegular;
    src: url(./assets/fonts/Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: MonteThin;
    src: url(./assets/fonts/Montserrat-Thin.ttf);
  }
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
