<ion-header>
  <ion-toolbar class="bg">
    <ion-row>
      <ion-col>
       <button (click)="goToProfile()" style="background-color:transparent;"> <img class="profileIcon" src="/assets/imgs/drawable-xxxhdpi/profile.png"></button>
      </ion-col>
      <ion-col>
        <ion-title class="titleStyle">Routes</ion-title>
      </ion-col>
    </ion-row>
 

  <ion-buttons slot="end">
    <ion-button>
     <ion-icon class="menuColor" name="notifications"></ion-icon>
    </ion-button>
   </ion-buttons>

  <ion-buttons slot="end">
    <ion-menu-button class="menuColor" menu="main-menu"></ion-menu-button>
  </ion-buttons>

 
    
  </ion-toolbar>

  
</ion-header>

<ion-content>


  
  <div class="ion-padding">
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YY" (ionChange)="loadResults()" [(ngModel)]="startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YY" [min]="endDate" (ionChange)="loadResults()" [(ngModel)]="endDate"></ion-datetime>
    </ion-item> 
  </div>
<div *ngIf="dateSelected" class="ion-padding">
 <ion-row>
   <ion-col>
    <button (click)="showCustom()" class="btnSelect customFontSelect">CUSTOM</button>
   </ion-col>
   <ion-col>
    <button (click)="showFixed()" class="btnSelect customFontSelect">FIXED</button>
   </ion-col>
   <ion-col>
    <button (click)="showAll()" class="btnSelect customFontSelect">ALL</button>
   </ion-col>
 </ion-row>
</div>
<div class="ion-padding">
  <ion-list>
    <ion-item (click)="selectItemRoute(item)" id="forceid" lines="none" *ngFor="let item of getDatesDriver">
      <ion-card  *ngIf="item.type == 'CUST' && custSelected == true ">
        <ion-card-header>
          <ion-card-subtitle  *ngIf="item.type == 'CUST' custSelected ">Custom Route</ion-card-subtitle>
          <ion-card-title *ngIf="item.type == 'CUST' ">{{customArrival}}</ion-card-title>
        </ion-card-header>
    
        <ion-item class="ion-activated">
          <ion-icon class="iconStyle" name="bus" slot="start"></ion-icon>
          <ion-label *ngIf="item.type == 'CUST' " >Departure Station: {{customDeparture}} </ion-label>
        </ion-item>
      
        <ion-item >
          <ion-icon class="iconStyle"  name="bus" slot="start"></ion-icon>
          <ion-label>Arrival Station: {{fixedArrival}}</ion-label>
        </ion-item>
      
        <ion-item class="ion-activated">
          <ion-icon class="iconStyle"  name="hourglass" slot="start"></ion-icon>
          <ion-label>Time: 45 minutes</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-icon class="iconStyle"  name="trail-sign" slot="start"></ion-icon>
          <ion-label>Tip: Take Route 64</ion-label>
        </ion-item>
    
        <ion-item>
          <ion-icon class="iconStyle"  name="navigate" slot="start"></ion-icon>
          <ion-label>AVAILABLE</ion-label>
          <button class="btnAccept customFont" name="outline" slot="end">ACCEPT</button>
        </ion-item>
      </ion-card>
      <ion-card *ngIf="item.type == 'FIX' && fixSelected == true">
        <ion-card-header>
          <ion-card-subtitle  *ngIf="item.type == 'FIX' fixSelected">Fixed Route</ion-card-subtitle>
          <ion-card-title *ngIf="item.type == 'FIX' ">{{fixedArrival}}</ion-card-title>
        </ion-card-header>
    
        <ion-item  class="ion-activated">
          <ion-icon class="iconStyle"  name="bus" slot="start"></ion-icon>
          <ion-label *ngIf="item.type == 'FIX' ">Departure Station: {{fixedDeparture}} </ion-label>
        </ion-item>
      
        <ion-item >
          <ion-icon class="iconStyle"  name="bus" slot="start"></ion-icon>
          <ion-label *ngIf="item.type == 'FIX' " >Arrival Station: {{fixedDeparture}}</ion-label>
        </ion-item>
      
        <ion-item class="ion-activated">
          <ion-icon class="iconStyle"  name="hourglass" slot="start"></ion-icon>
          <ion-label>Time: 45 minutes</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-icon class="iconStyle"  name="trail-sign" slot="start"></ion-icon>
          <ion-label>Tip: Take Route 64</ion-label>
        </ion-item>
    
        <ion-item>
          <ion-icon class="iconStyle"  name="navigate" slot="start"></ion-icon>
          <ion-label>AVAILABLE</ion-label>
          <button class="btnAccept customFont" name="outline" slot="end">ACCEPT</button>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
</div>



</ion-content>

<!-- <ion-header>
  <ion-toolbar class="bg">
    <ion-row>
      <ion-col>
       <button (click)="goToProfile()" style="background-color:transparent;"> <img class="profileIcon" src="/assets/imgs/drawable-xxxhdpi/profile.png"></button>
      </ion-col>
      <ion-col>
        <ion-title class="titleStyle">Routes</ion-title>
      </ion-col>
    </ion-row>
 

  <ion-buttons slot="end">
    <ion-button>
     <ion-icon class="menuColor" name="notifications"></ion-icon>
    </ion-button>
   </ion-buttons>

  <ion-buttons slot="end">
    <ion-menu-button class="menuColor" menu="main-menu"></ion-menu-button>
  </ion-buttons>

 
    
  </ion-toolbar>

  
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YY" (ionChange)="loadResults()" [(ngModel)]="startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YY" [min]="endDate" (ionChange)="loadResults()" [(ngModel)]="endDate"></ion-datetime>
    </ion-item> 
  </div>


 <div class="ion-padding">
  
     <ion-list>
      <ion-item lines="none" *ngFor="let item of getDatesDriver">
        <ion-grid>
         <ion-row>
        
           <ion-col>
             
             <img class="routeIcon" src="/assets/imgs/drawable-xxxhdpi/route-icon.png">
            
           </ion-col>
            <ion-col style="margin-right:15%;">
              <ion-text class="availableStyle">Available<br></ion-text>
             <ion-text *ngIf="item.type == 'CUST' " class="availableRouteStyle">{{customArrival}}<br></ion-text>
             <ion-text *ngIf="item.type == 'FIX' " class="availableRouteStyle">{{fixedArrival}}<br></ion-text>
             <ion-text class="minutesRouteStyle">45 minutes Route</ion-text>
            </ion-col>
            <ion-col>
              <button (click)="takeRoute()" class="btnAccept customFont">ACCEPT</button>
            </ion-col>
           </ion-row>
          
        </ion-grid>
        <div class="line"></div>
        </ion-item>
        <p class="text-md-danger" *ngIf="invalidSelection">Invalid Selection of Dates</p>
     </ion-list>
  
 </div>
</ion-content> -->
