.bg{
    --background:var(--ion-color-button-color-light);
}
ion-content{
    --ion-background-color:var(--ion-color-background-lightblue);
}
.menuColor{
    color:white;
}
.titleStyle{
    font-family:MonteBold;
    font-size:18px;
    position:absolute;
    color:white;
    margin-top:27%;
    margin-right:20%;
}
.routeIcon{
    width:100%;
   
}
.profileIcon{
    width:50%;
    margin-left:10%;
    margin-top:15%;
}
.btnAccept{
    width: 36%;
    height: 34px;
    border-radius: 7px;
    background-color: var(--ion-color-button-color-light);
    border: none;
}
.customFontSelect{
    font-family: MonteBold;
    color: white;
    font-size: 16px;
    text-align: center;
}
.btnSelect{
    width: 100%;
    height: 34px;
    border-radius: 7px;
    background-color: var(--ion-color-button-color-light);
    border: none;
}
// .forceclass{
//     position: relative;
//     bottom: 1530px;
// }
ion-card{
    width: 100%;
    border-radius: 13px;
    background-color: white;
    justify-content: center;
}
.customFont{
    font-family: MonteBold;
    color: white;
    font-size: 16px;
    text-align: center;
}
.dateOfRoute{
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 19px;
    font-family: 'MonteMedium';
}
.availableStyle{
    opacity:0.3;
    font-family:MonteLight;
}
.availableRouteStyle{
    font-family:MonteBold;
}
.minutesRouteStyle{
    opacity:0.3;
    font-family:MonteLight;
    font-size:9px;
}
// .line{
//     margin-top:10%;
//     width: 100%;
//     height: 47px;
//     border-bottom: 1px solid var(--ion-color-button-color-dark);
//     position: absolute;
//     opacity:0.3;
//     top:10px;
//     }

.iconStyle{
    color: var(--ion-color-button-color-dark);
}
ion-card-subtitle{
    text-align: center;
}
ion-card-title{
    text-align: center;
    font-family: 'MonteMedium';
    color: var(--ion-color-button-color-light);
}