
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering-title">Bus Transports Driver</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="row" style="margin-top:10%;">
    <div class="col">
        <div class="text-center">

          <div class="centering">
            <ion-text class="welcomeTxt"> Thank you for <br> downloading and using <br> Bus Transports Driver App </ion-text>
          </div>
          <div class="imageCentering">
            <img class="logoImg" src="assets/imgs/drawable-xxxhdpi/logo.png"/>
          
          </div>
          
          <div class="ion-padding">
            <button  class="getStartedBtn custom-font" (click)="pageNavigationToRetrieve()" >GET STARTED</button>
            <button class="loginBtn custom-font" (click)="pageNavigationToLogin()">LOGIN</button>
          </div>
        </div>
    </div>
</div>



</ion-content>
