
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering-title">Verify Number to BTD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="row" style="margin-top:15%;">
    <div class="col">
        <div class="text-center">

          <div class="centering">
            <ion-text class="welcomeTxt"> Please insert the code <br>that is sent to your email 
            </ion-text>
          </div>
          <div class="imageCentering">
            <img class="logoImg" src="assets/imgs/drawable-xxxhdpi/verification_number.png"/>
          
          </div>
         
          <div class="ion-padding">
            <input  class="btn custom-font" placeholder="0"  > 
            <input  class="btn custom-font" placeholder="1"  >
            <input  class="btn custom-font" placeholder="2"  > 
            <input  class="btn custom-font" placeholder="3"  >

     
            <button class="btnLogin customFontLogin" (click)="verify()">VERIFY</button>
          </div>
          <div class="centeringTxt">
            <ion-text > <a routerLink="/verification">I didn’t receive the code, <b>Resend</b></a>
            </ion-text>
          </div>
        </div>
    </div>
</div>



</ion-content>
