<ion-app>
  <ion-menu menuId="main-menu" content-id="main"  side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title style="text-align: center;width:100%; display:flex; justify-content: center;">Menu</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle routerLink="/route-started">
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>My Active Route</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle routerLink="/tech-inspect">
          <ion-item>
            <ion-icon name="hammer" slot="start"></ion-icon>
            <ion-label>Tech Inspect</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle routerLink="/route-wallet">
          <ion-item>
            <ion-icon name="wallet" slot="start"></ion-icon>
            <ion-label>Wallet</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle routerLink="/main">
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
